.body {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
}

#map {
    width: 98vw;
    height: 92vh;
    border: solid 1px black;
    border-radius: 10px;
}

.nav-bar {
    float: right;
    margin-right: 1vw;
}

.nav-text {
    padding-top: 1vh;
    margin-left: 1vw;
}